body {
    background: url(../assets/images/Nashville\ skyline.jpg) center center no-repeat fixed #464646;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: black;

}

.card { 
    background-color: rgba(245, 245, 245, 0.4); 
    color: white;
}
.card-header, .card-footer { 
    background-color: rgba(0,0,0,0.4);
    opacity: 1;
    text-align: center;
}

.navbar {
    background-color: rgba(245, 245, 245, 0.4); 
    color: white;
}

.first-anim {
    left: -150px;
}
.second-anim {
    left: -100px;
}
.third-anim {
    left: -50px;
}